@model WebApplication2.Models.UserViewModel
@{
    ViewBag.Title = "AddUser";
}
<!DOCTYPE html>
<html>
<head>
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script type='text/javascript'>
        $("#date").click(function () {
            $('.date-picker').datepicker();
        })
    </script>
    <meta charset="utf-8">
    <title>Entry Form</title>
</head>
<body>


    @using (Html.BeginForm("AddUser", "NewEntry", FormMethod.Post))
    {
        <div class="container">
            <div class="col-md-4">Name                       : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Members.Name, ViewBag.MemberList as SelectList, new { @class = "form-control" })</div>
            <div class="col-md-4">Team                       : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Teams.Name, ViewBag.TeamList as SelectList, new { @class = "form-control" })</div>
            <div class="col-md-4">Shift                      : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Shifts.Name, ViewBag.ShiftList as SelectList, new { @class = "form-control" })</div>
            <div class="col-md-4">Application                : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Applications.Name, ViewBag.AppicationList as SelectList, new { @class = "form-control" })</div>
            <div class="col-md-4">Task                       : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Tasks.Name, ViewBag.TaskList as SelectList, new { @class = "form-control" })</div>
            <div class="col-md-4">Activity                   : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Activities.Name, ViewBag.ActivityList as SelectList, new { @class = "form-control" })</div>
            <div class="col-md-4">Release                    : </div><div class="col-md-8"> @Html.TextBoxFor(m => m.TimesheetExcels.Release)</div>
            <div class="col-md-4">Priority                   : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Priority.Name, ViewBag.PriorityList as SelectList, new { @class = "form-control" })</div>
            <div class="col-md-4">Description                : </div><div class="col-md-8"> @Html.TextBoxFor(m => m.TimesheetExcels.Description)</div>
            <div class="col-md-4">Hours spent this week      : </div><div class="col-md-8"> @Html.TextBoxFor(m => m.TimesheetExcels.Hours_spent_this_week)</div>
            <div class="col-md-4">Month                      : </div><div class="col-md-8"> @Html.TextBoxFor(m => m.TimesheetExcels.Month)</div>
            <div class="col-md-4">Year                       : </div><div class="col-md-8"> @Html.TextBoxFor(m => m.TimesheetExcels.Year)</div>

            <div class="col-md-4">Date                       : </div>
            <div class="col-md-8">
                <div class='date-picker' id="date">
                        @Html.EditorFor(m => m.TimesheetExcels.Start_Date, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>


            <div class="col-md-8">
                <input type="submit" value="Create Entry" />
            </div>
        </div>
    }
</body>
</html>


