@model WebApplication2.Models.UserViewModel
@{
    ViewBag.Title = "AddUser";
}

<h2>AddUser</h2>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
   $(document).ready(function () {  
         $('input[type=datetime]').datepicker({  
             dateFormat: "MM yy",  
             changeMonth: true,  
             changeYear: true,  
             yearRange: "-60:+0"  
         });  
   });
    $(function() {
    $('input[type=datetime]').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
        }
    });
});
</script>



@using (Html.BeginForm("AddUser", "NewEntry", FormMethod.Post))
{
<div class="container">
    <div class="col-md-4">Name                       : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Members.Name, ViewBag.MemberList as SelectList, new { @class = "form-control" })</div>
    <div class="col-md-4">Team                       : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Teams.Name, ViewBag.TeamList as SelectList, new { @class = "form-control" })</div>
    <div class="col-md-4">Shift                      : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Shifts.Name, ViewBag.ShiftList as SelectList, new { @class = "form-control" })</div>
        <div class="col-md-4">Application                : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Applications.Name, ViewBag.AppicationList as SelectList, new { @class = "form-control" })</div>
        <div class="col-md-4">Task                       : </div><div class="col-md-8"> @Html.DropDownListFor(m => m.Tasks.Name, ViewBag.TaskList as SelectList, new { @class = "form-control" })</div>
        <div class="col-md-4">Activity                   : </div><div class="col-md-8">@Html.DropDownListFor(m => m.Activities.Name, ViewBag.ActivityList as SelectList, new { @class = "form-control" })</div>
        <div class="col-md-4">Release                    : </div><div class="col-md-8">@Html.TextBoxFor(m => m.TimesheetExcels.Release)</div>
        <div class="col-md-4">Priority Severity          : </div><div class="col-md-8">@Html.DropDownListFor(m => m.Priority.Name, ViewBag.PriorityList as SelectList, new { @class = "form-control" })</div>
        <div class="col-md-4">Description                : </div><div class="col-md-8"> @Html.TextBoxFor(m => m.TimesheetExcels.Description)</div>
        <div class="col-md-4">Hours spent this week      : </div><div class="col-md-8"> @Html.TextBoxFor(m => m.TimesheetExcels.Hours_spent_this_week)</div>
        <div class="col-md-4">Month                      : </div><div class="col-md-8"> @Html.TextBoxFor(m => m.TimesheetExcels.Month)</div>
        <div class="col-md-4">Year                       : </div><div class="col-md-8"> @Html.TextBoxFor(m => m.TimesheetExcels.Year)</div>

    <div class="col-md-4">Date                       : </div>
        <div>
            <div class="col-md-8">
                <div id="EnterDate">
                    @Html.EditorFor(m => m.TimesheetExcels.Start_Date, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>


    <div class="col-md-8">
        <input type="submit" value="Create Entry" />
    </div>
</div>
}


